* {
  box-sizing: border-box;

}

.App {
  background-color: gray;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  color: #323E42 !important;
  font-family: SourceSansPro,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
}

a {
  color : #059E87
}

